section {
  display: flex;
  justify-content: center;
  padding: 16px 32px;
}
.contact-wrapper {
  max-width: 1000px;
  width: 1000px;
}
.contact-title {
  text-align: center;
  font-size: 32px;
}
.contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
  padding: 16px 0;
}
.contact-detail p {
  line-height: 1.2;
}
.contact-img {
  height: 300px;
  width: 500px;
  object-fit: cover;
  object-position: center center;
  border-radius: 32px;
  background-color: #242424;
}
